<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ module['module_name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ module['module_name'] }}</h1>
    <ul>
        {% for table in module['tables'] %}
            <li><a href="{{ url_for('table', module_name=module['module_name'], table_name=table['table_name']) }}">{{ table['table_name'] }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
</body>
</html>
